<h1>Ingredients</h1>
<br>

    <% @ingredients.each do |ingredient| %>
      <div>
        <p class= 'ingredient_name'><%= ingredient.name %></p>

          <%= link_to 'Edit', edit_admin_ingredient_path(ingredient)  %> | <%= link_to 'Delete', admin_ingredient_path(ingredient), method: :delete  %>
      </div>
      <br>
    <% end %>
