<h1>Ingredients</h1>
<br>


<p><%= link_to 'Add Ingredient', new_admin_ingredient_path %></p>

  <div class="admin-ingredient-list">
  <% @ingredients.each do |ingredient| %>

        <p class= 'ingredient_name'><%= ingredient.name %></p>
        <div><%= link_to 'Edit', edit_admin_ingredient_path(ingredient), :class=>"button" %> | <%= link_to 'Delete', admin_ingredient_path(ingredient), method: :delete  %></div>


    <br>


  <% end %>
</div>
