<div class="container">

  <header class="main-header">
    <h1 class="app-title">Food Hunter</h1>
    <div class="caveman-logo"><%= image_tag('caveman2.png') %></div>
  </header>

  <aside class="category-display">
    <div class="categories"></div>
  </aside>

  <section class="ingredient-list">
    <div class="ingredients"></div>
  </section>

  <aside class="real-time-recipe-display">
    <div class="selected-ingredients-display">
      Selected ingredients:
    </div>
    <div class="recipes"></div>
    <div class="instructions">
      <h3>Welcome to Food Hunter</h3>
      <p>We are here to help you when you are in a cooking pinch! (get it?...pinch...recipes...get it?)</p>
      <p>Anyway, simply begin by selecting a category (on your left), and clicking on any ingredient listed that you may have on hand (they will pop up once a category is selected). As you select ingredients, all the delicious recipes that you can make with one or all of those ingredients will pop up. If you want to remove an ingredient that you have selected, simply click on it as it appears above the recipes listed</p>
      <p>We assume that you are not a cave person and have at least some olive oil, salt, pepper, sugar, and misc condiments on hand (help us, help you kind of deal)</p>
      <p>Each recipe serves approx. 2 servings</p>
    </div>
  </aside>

</div>
