<div class="container">

  <header class="main-header">
    <h1 class="app-title">Food Hunter</h1>
    <div class="caveman-logo"><%= image_tag image_path ('caveman2.png') %></div>
  </header>

  <aside class="category-display">
    <div class="categories"></div>
  </aside>

  <section class="ingredient-list">
    <!-- <h2 class="ingredients-title">Ingredients</h2> -->
    <div class="ingredients"></div>
  </section>

  <aside class="real-time-recipe-display">
    <div class="recipes"></div>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia molestias dolore fuga deserunt hic nemo assumenda repellendus asperiores facilis, labore odio quidem minima unde consectetur. Placeat, ea labore cum porro.</p> -->
  </aside>

</div>
