<div class="container">

  <header class="main-header">
    <h1>Food Hunter</h1>
  </header>

  <button>Fetch Recipes</button>

  <section class="ingredient-list">
    <h2>Ingredients</h2>
    <div class="ingredients"></div>
  </section>

  <aside class="real-time-display">
    <div class="recipes"></div>
  </aside>



</div>
