<div class="container">

  <header class="main-header">
    <h1 class="app-title">Food Hunter</h1>
    <div class="caveman-logo"><%= image_tag('caveman2.png') %></div>
  </header>

  <aside class="category-display">
    <div class="categories"></div>
  </aside>

  <section class="ingredient-list">
    <div class="ingredients"></div>
  </section>

  <aside class="real-time-recipe-display">
    <div class="selected-ingredients-display">
      Selected ingredients:
    </div>
    <div class="recipes"></div>
  </aside>

</div>
