// Place all the styles related to the admin/ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ingredient-form{
  margin: auto;
  width: 70%;
  h1{
    margin: auto;
  }
  input {
    // border: 2px solid black;
  }
  textarea {
    // border: 2px solid black;
  }

}

.add-btn {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: rgba(68,153, 157,.75 );
  color: white;
  text-decoration: none;
}
.admin-ingredient-list {
  margin: auto;
  width: 50%;
  // border: 1px solid black;

  .ingredient-controls {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 10px;
    // border: 1px solid black;
    .ingredient-name {
    font-size: 1.5em;
    justify-content: flex-start;
    }
    // .ingredient-edit-controls {
    //   justify-content: flex-end;
      .pencil{

        font-size: 2em;
        color: black;
      }
      .pencil:hover {
              color: #4CAF50;
          }
        .trashcan {

        font-size: 2em;
        color: black;
      }
      .trashcan:hover {
              color: red;
      }
    // }

  }
}
