// Place all the styles related to the admin/recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
  border: 2px solid black;
}
textarea {
  border: 2px solid black;
}

.photo_upload {
  margin-top: 20px;
  font-size: 1.5em;
}
.recipes-form {
  line-height: 1.25em;
}
.add-recipe-link {
  margin-bottom: 15px;
}
.recipe-controls {
  font-size: 1.5em;
  .pencil{

    font-size: 1em;
    color: black;
  }
  .pencil:hover {
          color: #4CAF50;
      }
    .trashcan {

    font-size: 1em;
    color: black;
  }
  .trashcan:hover {
          color: red;
  }
}
