// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-layout{
  font-family: helvetica;
}
.admin-yield {
  margin: 70px auto;
  width: 60%;
  // box-sizing: border-box;
  border: 1px solid black;
  overflow: auto;

}
