/*
 *= require welcome
 *= require_self
 */

 .devise-container {
   margin: 100px auto;
   width: 40%;
   text-align: center;
   font-family: helvetica;
   /*line-height: */
 }
input {
  border: 1px solid black;
}
label {
  font-family: monospace;
}

.devise-container a {

}
