/*
 *= require welcome
 *= require_self
 */

 .devise-container {
   margin: 100px auto;
   width: 40%;
   text-align: center;
   font-family: monospace;
   font-size: 1.5em;
   line-height: 1.5em;
 }
.admin_email {
  width: 40%;
}
.admin_password {
  width: 40%;
}
.devise-btn {
  border: 1px solid black;
  padding: 2px 4px;
  border-radius: 8px;
  background-color: rgba(68,153, 157,.75 );
  font-family: monospace;
  font-size: 1em;
  color: white;
  text-decoration: none;
}
.devise-btn:hover {
  background-color: rgba(68,153, 157, .60 );
}
.actions {
  margin: 10px;
}
.devise-container a {
  color: black;
  text-decoration: none;
}
.devise-container a:hover {
  color: rgba(68,153, 157,.75 );
}

input {
  border: 1px solid black;
}
label {
  font-family: monospace;
}

.devise-container a {

}
