// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Fontdiner+Swanky);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9FBCC;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  font-size: 14px;
  font-family: sans-serif;
  border: 10px;
}

.main-header {
  background: #F5F6C8 url("vintage banner.png") no-repeat center;
  margin-bottom: 35px;
  padding: 30px 0 10px 20px;
  border-bottom: 5px solid #A5AA90;
  .app-title {
    font-size: 3.2em;
    word-spacing: 6px;
    font-family: 'Fontdiner Swanky', cursive;
  }
  .caveman-logo {
    img {
      width: 80px;
      height: 85px;
      overflow: hidden;
      position: absolute;
      top: 9px;
      right: 9px;
    }
  }
}

.ingredient-list,
.category-display,
.real-time-recipe-display {
  float: left;
}

.category-display {
  width: 20%;
  padding-left: 10px;
}

.ingredient-list {
  width: 20%;
  padding-right: 50px;
  padding-left: 20px;
  .ingredient {
    padding-bottom: 5px;
     display: block;
  }
  .ingredients-title {
    padding-bottom: 5px;
  }
  .category-title {
    padding-bottom: 5px;
  }
}

.real-time-recipe-display {
  width: 60%;
}

.recipe {
  padding: 5px;
  .cooking-time {
    font-size: 12px;
  }
}

.category-button {
  background: #DCBA83;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  &.active {
    background-color: #9D9354;
  }
}
